h2: a(href="/posts/sample.html") Sample Page

link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css')
script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js')
script.
  hljs.initHighlightingOnLoad();


p.lead Here is some code.

pre
  code.lang-python.
    print 'Hello, world!'
